:root{
    --text-color :#2a2a2a;  
    --primary-color : rgb(74,211,215);
}


*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    line-height: 2.4rem;
    font-family: "poppins",sans-serif;
    box-sizing:border-box;
    font-weight: 400;
}
.dots-btn--disabled{
  background-color: rgb(159,231,233) !important ;
}

.dots-btn{
  cursor: pointer;
  margin: 0 7px;
  border: 0;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background-color:var(--primary-color);
}
.basic-1 {
    background: 
        linear-gradient(var(--primary-color) 0 0) 
        0 100% /var(--d, 0) 3px 
      no-repeat;
    transition: 0.3s;
  }
  .basic-1:hover {
      color: var(--primary-color);
    --d: 100%;
  }

.basic-2{
    background: 
        linear-gradient(currentColor 0 0) 
        0 100% /var(--d, 0) 2px 
      no-repeat;
    transition: 0.3s;
  }
  .basic-2:hover {
      color: #fff;
      cursor: pointer;
    --d: 100%;
  }
@keyframes dropDown {
    from
    {
      opacity: 0;
      transform: scaleY(0);
    }
    to{
      opacity: 1;
      transform:scaleY(1);
    }
  }

  @keyframes zoom {
    from{
      transform: scale(1,1);
    }
    to{
      transform: scale(1.1 , 1.1);
    }
  }

  @keyframes textup {
    from{
      opacity: 0;
      transform: translateY(80px);
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }
    
  }

  @keyframes slide-up {
    from{
      transform: translateY(0);
    }

    to {
      transform: translateY(-100%);
    }
    
  }
  @keyframes slide-down{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}